/* Global CSS used within your BEX. This is not preprocessed so this has to be pure CSS. */
#easyReadTooltipSentence,
#easyReadTooltipWord {
  cursor: pointer;
}
.wordHighlight {
  display: inline-block;
  transition: all 0.2s linear;
  cursor: pointer;
}
.wordHighlight .original:hover {
  background-color: #109e98;
  color: #fff;
}
.wordHighlight .translation,
.wordHighlight .original {
  display: block;
  text-align: center !important;
}
.wordHighlight.active .original {
  background-color: #109e98;
  color: #fff;
}
.wordHighlight.active .translation {
  color: #066965 !important;
  background-color: #fff;
  display: inherit;
}
.wordHighlight .translation {
  display: none;
  overflow: hidden;
  transition: all 0.2s linear;
}
.wordRangeHighlight {
  display: inline-block;
}
.wordRangeHighlight .range-original {
  background-color: #109e98;
  display: inline-block;
  text-align: center;
}
.wordRangeHighlight .range-translation {
  color: #066965 !important;
  background-color: #fff;
  width: 100%;
  transition: all 0.2s linear;
}
.wordRangeHighlight .translation {
  display: none;
  transition: all 0.2s linear;
}
.wordRangeHighlight .range-translation {
  display: block;
  text-align: center;
  color: black;
}
.wordRangeHighlight .range-original .wordHighlight.active .translation {
  display: none;
}
.wordRangeHighlight .range-original .wordHighlight.active .original {
  background-color: inherit !important;
}
.sentenceHighlight {
  transition: background-color 0.2s ease-in-out;
}
.sentenceHighlight .originalSentence:hover,
.sentenceHighlight .originalSentence.hover {
  color: #fff;
  background-color: #d53f8c;
}
.sentenceHighlight .translationSentence {
  background-color: #fff;
  color: #97266d;
}
.sentenceHighlight .translationSentenceText {
  display: inline !important;
}
.sentenceHighlight .translateSentenceButton {
  height: 1.2em;
  width: 1.2em;
  color: #fff;
  background-color: #d53f8c;
  border-radius: 5px;
  border: none;
  display: inline;
  padding: 0;
  cursor: pointer;
}
.translateSentenceButton .svg-icon,
.translateSentenceButton svg {
  height: 1em;
  width: 1em;
}
.svg-icon {
  max-height: 1rem;
  max-width: 1rem;
}
