/* Global CSS used within your BEX. This is not preprocessed so this has to be pure CSS. */
#a4efr4vrtewfw2efasa {
  /* TODO: script to find highest z-index */
  z-index: 999999999999999;  
}
#a4efr4vrtewfw2efasa aside {
  /* TODO: script to find highest z-index */
  z-index: 999999999999999;  
  /* border not working in windi for some reason so setting manually here */
  border-left: solid 2px #CCC;
}
#a4efr4vrtewfw2efasa , #a4efr4vrtewfw2efasa > * {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}
#easyReadTooltipSentence,
#easyReadTooltipWord {
  cursor: pointer;
}
.wordHighlight {
  display: inline-block;
  /* transition: all 0.2s linear; */
  cursor: pointer;
}
.wordHighlight .original:hover {
  background-color: #109e98;
  box-shadow: -4px -2px 0 #109e98, 4px 2px 0 #109e98 ,4px -2px 0 #109e98 ,-4px 2px 0 #109e98;
  color: #fff;
}
.wordHighlight .translation,
.wordHighlight .original {
  display: block;
  text-align: center !important;
}
.wordHighlight.active .original {
  background-color: #109e98;
  box-shadow: -4px -2px 0 #109e98, 4px 2px 0 #109e98 ,4px -2px 0 #109e98 ,-4px 2px 0 #109e98;
  color: #fff;
}
.wordHighlight.active .translation {
  color: #066965 !important;
  /* background-color: #fff; */
  display: inherit;
}
.wordHighlight .translation {
  display: none;
  overflow: hidden;
  /* transition: all 0.2s linear; */
}
.translated{
  animation: append-animate 0.2s ease-out;
}
.wordRangeHighlight {
  display: inline-block;
}
.wordRangeHighlight .range-original {
  background-color: #109e98;
  box-shadow: -4px -2px 0 #109e98, 4px 2px 0 #109e98 ,4px -2px 0 #109e98 ,-4px 2px 0 #109e98;
  display: inline-block;
  text-align: center;
}
.wordRangeHighlight .range-translation {
  color: #066965 !important;
  /* background-color: #fff; */
  width: 100%;
  /* transition: all 0.2s linear; */
}
.wordRangeHighlight .translation {
  display: none;
  /* transition: all 0.2s linear; */
}
.wordRangeHighlight .range-translation {
  display: block;
  text-align: center;
  color: black;
}
.wordRangeHighlight .range-original .wordHighlight.active .translation {
  display: none;
}
.wordRangeHighlight .range-original .wordHighlight.active .original {
  background-color: inherit !important;
}
/* .sentenceHighlight {
  transition: background-color 0.2s ease-in-out;
} */
.sentenceHighlight .originalSentence:hover,
.sentenceHighlight .originalSentence.hover {
  color: #fff;
  background-color: #d53f8c;
  box-shadow: -4px -0.1em 0 #d53f8c, 4px 0.1em 0 #d53f8c ,4px -0.1em 0 #d53f8c ,-4px 0.1em 0 #d53f8c;
}
.sentenceHighlight .translationSentence {
  /* background-color: #fff; */
  color: #97266d;
}
.sentenceHighlight .translationSentenceText {
  display: inline !important;
}
.translateSentenceButton {
  animation: append-animate 0.4s ease-in;
}
.sentenceHighlight .translateSentenceButton {
  height: 0.9em;
  width: 0.9em;
  color: #fff;
  background-color: #d53f8c;
  border-radius: 5px;
  border: none;
  display: inline;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}
.translateSentenceButton .svg-icon,
.translateSentenceButton svg, .golink svg{
  height: 0.7em;
  width: 0.7em;
  
}
.svg-icon {
  margin-bottom: 0.1em;
  /* max-height: 1em;
  max-width: 1em; */
}
@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
